@model Hydra2.Web.Models.SpotOverviewViewModel[]

@{
    ViewBag.Title = "SpotOverView";
}

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.RiverName</td>
            <td>@item.SpotName</td>
            <td>@item.SpotType</td>
            <td>@item.Url</td>
            <td>@item.LastSample</td>
        </tr>
    }
</table>