@model Hydra2.Web.Models.SpotOverviewViewModel[]

@{
    ViewBag.Title = "SpotOverView";
}

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.RiverName</td>
            <td>@item.SpotName</td>
            <td>@item.SpotType</td>
            <td><a href="@item.Url" target="_blank">@item.Url</a></td>
            <td>@item.LastSample</td>
            <td><a target="_blank" href='@Url.Content("~/Api/HandUpdate/"+item.Id)'>HandUpdate</a></td>
        </tr>
    }
</table>